body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
}

p {
    color: gray;
    font-size: 18px;
}
ul {
    text-align: left;
    display: inline-block;
}